<div class="header">
  <h1><i class="fa fa-qrcode" style="color: #428bca;"></i> QRCode Generator</h1>
</div>
<div class="list">
  <hr>
  <ul>
    <% @codes.each do |c| %>
      <li>
        <%= c.name %> <%= c.sku %>
      </li>
    <% end %>
  </ul>
</div>