<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content = "yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Gameroom">
  <meta name="author" content="Gameroom">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/qrcoder.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="/js/qrcoder.js"></script>
  <title>Item Details</title>
</head>
<body>
  <div class="header">
    <h1><i class="fa fa-book" style="color: #428bca;"></i> <a href="/" style="color: #ffffff;">Item Details</a></h1>
  </div>
  <div>
    <%= yield %>
  </div>
</body>
</html>