<style type="text/css">
 table {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
 }
 td {
   border-width: 0;
   border-style: none;
   border-color: #0000ff;
   border-collapse: collapse;
   padding: 0;
   margin: 0;
   width: 10px;
   height: 10px;
 }
 td.black { background-color: #000; }
 td.white { background-color: #fff; }
</style>
 
<div style="width: 36%; margin-left: auto; margin-right: auto; margin-top: 20px;">
  <table class="qrcodetable" style="margin-left: auto; margin-right: auto;">
   <% @qr.modules.each_index do |x| %>
     <tr>
     <% @qr.modules.each_index do |y| %>
      <% if @qr.dark?(x,y) %>
      <td class="black"/>
      <% else %>
      <td class="white"/>
      <% end %>
     <% end %>
     </tr>
   <% end %>
  </table>
  <div style="text-align: center; padding: 20px; margin-top: 15px;">
    <a href="#" style="color: #ffffff; background-color: #428bca; padding: 15px; border-radius: 15px; width: 100px;">
      <i class="fa fa-print"></i> Print
    </a>
  </div>
</div>
