* {
  font-family: 'Open Sans' !important;
  box-sizing: border-box;
}
.date {
  font-size: 95%;
  font-style: oblique;
}
.display {
  background-color: #ffffff;
  margin-top: 20px;
  width: 65%;
  border-radius: 5px;
  border: 2px solid #b5b5b5;
}
.display, .price, .notes {
  margin-right: auto;
  margin-left: auto;
}
.display h1 {
  font-size: 35px;
  text-align: center;
  padding: 5px;
}
.fa {
  font-family: FontAwesome !important;
}
.header {
  background-color: #222222;
  border-color: #090909;
  color: #ffffff;
  height: 70px;
}
.header h1 {
  font-size: 35px;
  text-align: center;
  line-height: 70px;
}
.navlinks {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
  padding-top: 10px; 
}

.navlinks a {
  padding: 10px;
}
.notes {
  margin-top: 20px;
  text-align: center;
}

.notes.user {
  width: 48%;
}
.price, .notes {
  background-color: #fcfcfc;
  padding: 20px;
  width: 48%;
  max-width: 48%;
  border: 1px solid #b5b5b5;
}
.print {
  color: #ffffff; 
  background-color: #428bca; 
  padding: 15px; 
  padding-left: 185px;
  padding-right: 185px;
  border: 1px solid #3B6C96;
  width: 200px;
}
.print:hover {
  background-color: #2A6291 !important;
}
.printbtn {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.printtrue {
  display: none;
}
.qrtable {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 25px;
  background-color: #f2f2f2;
  border: 1px solid #c2c2c2;
  border-radius: 10px;
  max-height: 650px;
  overflow: scroll;
}
.qrtable li {
  padding: 5px;
}

.qrtable table {
  width: 100%;
}

.qrtable tbody {
  margin-top: 10px;
}

.qrtable td {
  height: 45px;
  line-height: 45px;
}
.qrtable th {
  text-align: left;
  padding-bottom: 5px;
}
.quantity {
  text-align: left !important;
  color: #b5b5b5;
}
.top {
  text-align: center;
  padding: 5px;
  margin-bottom: 5px;
  font-size: 35px;
}
a {
  text-decoration: none;
  color: #428bca;
}
a.active {
  background-color: #428bca !important;
  color: #ffffff !important;
  padding: 10px;
  border-radius: 10px;
  cursor: default;
}
h5 {
  font-size: 20px;
  text-align: center;
}
small {
  font-size: 60%;
  color: #b5b5b5;
  font-style: oblique;
}
table.barby-barcode {
  height: 100px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

td.barby-cell.on {
  height: 100px;
  background-color: #000000;
  width: 1px;
}

td.barby-cell.off {
  background-color: #ffffff !important;
  width: 1px;
}
tr:nth-child(2n+1) {
  background-color: #fafafa;
}

tr.tablehead {
  background-color: #f2f2f2;
}
ul {
  list-style: none;
}
